body{
    margin-top: 10px;
    margin-right: 80px;
    margin-bottom: 10px;
    margin-left: 80px;
    background: #FFF;
    color: #000; /* cor da letra geral*/
    font-family: arial, sans-serif; /*se nao achar arial, browser escolhe qualquer letra*/
}

/* HEADER */

.header li{
    display: inline-block;
    text-decoration: none;
}

#header-title{
    color: #5f6268;
}

#logo{
    display: inline-block;
    height: 100px;
}
.header-menu-pages li{
    padding:2px 10px;
    margin:0px;
    list-style:none;
    display: inline-block;
    color: #5fb8d3;
    border-bottom:3px solid #5fb8d3;
    text-decoration: none;
    font-weight: bold;
}

.header-menu-pages li:hover{
    color: #5f6268;
    border-bottom:3px solid #5f6268;
    cursor: pointer;
}

/* MENU OPTIONS */

.options{
    background-color: #5f6268;
    width: 100%;
}

.options p{
    padding:10px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

.options-menu{
    text-align: center;
}

.options-menu li{
    padding:10px;
    margin:0px;
    list-style:none;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.options-menu li:hover{
    background-color: #5fb8d3;
    cursor: pointer;
}

/* CONTENT */

.content-text{
    margin-top: 20px;
    float: right;
    width: 50%;
    border-color: #5fb8d3;
    border-width: 2px;
    border-style: dashed;
    text-align: center;
    color: #5f6268;
}

.content-text h2{
   font-weight: bold;
}

.content-text p{
    font-size: 15px;
    padding: 10px;
    color: #5f6268;
}

.content-economy{
    float: left;
    width: 45%;
    text-align: center;
}

.content-economy h1{
    color: #5f6268;
    font-weight: bold;
}

.content-economy p{
    color: #5f6268;
    text-align: justify;
}

#content-image {
    margin-top: 40px;
}

/* MACROECONOMIA */
/* Controle Precos */
.esquerda{
    float: left;
    width: 48%;
    height: 540px;
}

.esquerda h1{
    color: #5fb8d3;
}

.esquerda h2,p{
    color: #5f6268;
}


.direita{
    float: right;
    width: 50%;
    height: 540px;
}

.texto-esquerda{
    text-align: justify;
}

.escolhe-precos{
    padding-top: 20px;
}

.escolhe-precos h4{
    color: #5f6268;
}

.graficos{
    padding-top: 10px;
}

.menu-opcoes{
    list-style: none;
}

.opcao{
    text-decoration: none;
    display: inline-block;

}

.opcao button{
    background-color:#5fb8d3;
    color: #FFF;
    border-radius: 4px;
    border: 1px solid #5f6268;
    margin-left: 10px;
}

.opcao button:hover{
    background-color: #5f6268;
    cursor: pointer;
}

#explicacao{
    text-align: justify;
}